{% extends "a.html" %}
{% load static %}
{% block title %}Contact - MEDI.AI{% endblock %}

{% block content %}
<div class="sb"> 
  <div class="overlay"> 
    <div class="here-text"> 
      <h1>Contact With Us</h1> 
    </div> 
  </div> 
</div>
 <!-- Contact Page-->
  <div class="contact-wrapper">
    <!-- Left Side: Map -->
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3697.922694409291!2d88.07166387528537!3d22.052552479865508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02f0bc41d7ef07%3A0xf2ec43b8223e132!2sGlobal%20Institute%20of%20Science%20%26%20Technology!5e0!3m2!1sen!2sin!4v1756130018209!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <!-- Right Side: Info + Form -->
    <div class="contact-info-box">
      <h2>Our Location</h2>
      <h3>Global Institute of Scince & Technology</h3>

      <div class="info-list">
        <p><i class="fas fa-map-marker-alt"></i> Haldia, Hatibaria, Purba Medinipur, West Bengal 721657</p>
        <p><i class="fas fa-phone"></i> +91 3224 255951</p>
        <p><i class="fas fa-envelope"></i> gist.haldia@gmail.com</p>
        <p><i class="fas fa-clock"></i> Mon - Fri: 9AM - 6PM</p>
      </div>

      <form class="contact-form">
        <input type="text" name="name" placeholder="Your Name" required />
        <input type="email" name="email" placeholder="Your Email" required />
        <textarea name="message" placeholder="Your Message" required></textarea>
        <button type="submit">Send Message</button>
      </form>

      <div class="sociall-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
 


  {% endblock %}