{% load static %}
<!-- Nav-ber Section -->
     <div class="home">
  	 <div class="bc">
       <div class="logo">
         <h2>MEDI.AI</h2>
        </div>
  	 	<ul class="nav">
  	 		<li class="nav-ber"><a href="/">Home</a></li>
  	 		<li class="nav-ber"><a href="/about-us/">About</a></li>
  	 		<li class="nav-ber"><a href="/analysis/">Analysic</a></li>
			<li class="nav-ber"><a href="/team/">Team</a></li>
           <li class="nav-ber"><a href="/contact/">Contact</a></li>
  	 	</ul>
      <div class="menu-toggle">☰</div>
  	  </div>